@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/*ESTILOS popup svcms*********************************************************************************************/
td{text-align:left;}
 
.body-popup {
	background:#f2f5f1 /*url(http://www.svcmscentral.com/estilos-popups/fondo-popup-verde.jpg) repeat left bottom*/;
	font-family:'Droid Sans', tahoma, arial,sans-serif;
	padding: 10px;
	box-shadow:1px 1px 4px #adadad;
-moz-box-shadow:1px 1px 4px #adadad;
-webkit-box-shadow:1px 1px 4px #adadad;


}
.popup-instrucciones, .popup-mensajes {
	color: #657287;
	background-color: #fff ;
	
	margin: 0 0 10px 0;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #e0e1e4 ;
	-moz-border-radius:10px;
-webkit-border-radius:10px; 
-khtml-border-radius:10px; 
border-radius:10px; 
box-shadow:1px 1px 4px rgba(0,0,0,0.2);
-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.2);
-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.2);






}
.popup-titulo {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #c6d9ce  ;
	background-color: #ebeeea;
	font-size: 35px;
	padding: 6px;
	
	-moz-border-radius:10px 10px 0 0;
-webkit-border-radius:10px 10px 0 0; 
-khtml-border-radius:10px 10px 0 0; 
border-radius:10px 10px 0 0;
margin:0 10px -3px 10px; 
text-shadow:0 1px 1px #fff;
text-transform:uppercase;
border-left:#dee2dc solid 1px;
border-top:#dee2dc solid 1px;
}



.popup-form-box {
	height:30px;
font-size: 13px;
color: #818181;
text-shadow:0 1px 1px rgba(255,255,255,1);

border: solid 1px #E5E5E5;  
outline: 0;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px; 

-webkit-transition:all 0.3s ease-out;
-moz-transition:all 0.3s ease-out;
-o-transition:all 0.3s ease-out;
 
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #f3f3f3), to(#FFFFFF));  
background: -moz-linear-gradient(top, #FFFFFF, #f3f3f3 1px, #FFFFFF 25px);
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3f3f3', endColorstr='#ffffff'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3f3f3', endColorstr='#ffffff')"; /* IE8 */
zoom:1;

box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;  
-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;  
-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 5px;
	
	
padding:8px;
margin:5px 5px 5px 0px;




}

.td-datotabla input{padding:5px;
margin:2px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
border: solid 1px #E5E5E5; 
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #f3f3f3), to(#FFFFFF));  
background: -moz-linear-gradient(top, #FFFFFF, #f3f3f3 1px, #FFFFFF 25px);
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3f3f3', endColorstr='#ffffff'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f3f3f3', endColorstr='#ffffff')"; /* IE8 */
zoom:1;
font-size: 13px;
color: #818181;
border: solid 1px #E5E5E5; 

}

.popup-form-box:hover {
	border: 1px solid #c9c9c9;
	padding:8px 15px 8px 8px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #eeeeee), to(#FFFFFF));  
background: -moz-linear-gradient(top, #FFFFFF, #eeeeee 1px, #FFFFFF 25px);
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#ffffff'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#ffffff')"; /* IE8 */
zoom:1;

	

}

.popup-form-box:focus {
	border: 1px solid #b5b5b5;
	padding:8px 15px 8px 8px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #eeeeee), to(#FFFFFF));  
background: -moz-linear-gradient(top, #FFFFFF, #eeeeee 1px, #FFFFFF 25px);
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#ffffff'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#eeeeee', endColorstr='#ffffff')"; /* IE8 */
zoom:1;
box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;  
-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;  
-webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;


	

}

form #interna tr{
	background-color:transparent;
	-webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;}

/*form #interna tr:hover{
	background-color:#f3f3f3;}*/



.popup-form-title {
	font-size: 13px;
	color: #003366;
	padding:5px 5px 5px 0px ;
	text-align:left;





}
.popup-form-button {
font-family:Droid Sans,tahoma,arial,helvetica;
-moz-border-radius:5px;
-webkit-border-radius:5px; 
-khtml-border-radius:5px; 
border-radius:5px;
border:#dadada solid 1px;
border-top:#E8E8E8 solid 1px;
color:#8896aa;
font-size:14px;
padding:10px;
-webkit-transition:all 0.3s ease-out;
-moz-transition:all 0.3s ease-out;
-o-transition:all 0.3s ease-out;
 
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #e8e8e8), to(#FFFFFF));  
background: -moz-linear-gradient(top, #FFFFFF, #e8e8e8 1px, #FFFFFF 25px);
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e8e8e8', endColorstr='#ffffff'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e8e8e8', endColorstr='#ffffff')"; /* IE8 */
zoom:1;

box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

cursor:pointer;
	




}

.popup-form-button:hover {
border:#a72c4a solid 1px;
border-top:#ed3d6d solid 1px;
color:#fff;
-webkit-transform: scale(1.1,1.1); 
-moz-transform: scale(1.1,1.1); 
-o-transform: scale(1.1,1.1);
-ms-transform: scale(1.1,1.1);
 
background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #ea1323), to(#7c0c0f));  
background: -moz-linear-gradient(top, #FFFFFF, #ea1323 1px, #7c0c0f 25px);
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ea1323', endColorstr='#7c0c0f'); /* IE6 & IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ea1323', endColorstr='#7c0c0f')"; /* IE8 */
zoom:1;

box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	


}



.popup-instrucciones p {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 10px;
	margin-left: 1px;
}




.textico{ font-size:10px;}


.shoppingcart-td-total {
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	padding-right: 7px;
}

.shoppingcart-td-montos {
	font-size: 13px;
	text-align: left;
	padding-left: 7px;
}



.pago-titulo {
	font-size: 16px;
	font-weight: bold;
}
.pago-container {
	background-color: #FFFFFF;
	margin: 5px 10px 10px 5px;
	padding: 0px 0px 5px;
	border: 1px solid #CFD1D6;
	border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
}
.pago-banco {
	font-size: 14px;
	font-weight: bold;
	color: #25744d;
	background-color: #b6d3c8;
	padding: 3px;
}
.pago-nombre {
	font-size: 14px;
	padding:3px;
	
}
.pago-numero {
	font-size: 15px;
	letter-spacing: 2px;
	color: #25744d;
	padding:3px;

}



.nombre-de-producto {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}


a {
	color: #27834f;
	text-decoration: none;
}
a:hover {
	color: #ff2063;
}



.td-headertabla {
	font-size: 13px;
	display: table-cell;
	vertical-align: bottom;
	padding: 10px;
	margin: 2px;
	border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
background-color:#afc7ba;
box-shadow:1px 1px 2px rgba(0,0,0,0.2);
-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
color:#fff;
text-shadow:0 1px 1px rgba(0,0,0,0.6);
border-right:#93b3a2 solid 1px;
border-bottom:#93b3a2 solid 1px;


}

.td-headertabla a{
	color:#FFF;}


.td-datotabla{
	font-size: 12px;
	display: table-cell;
	padding: 7px;
	margin: 5px;
	border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
background-color:#e9efec;

color:#709885;
text-shadow:0 1px 1px rgba(0,0,0,0.2);
border-right:#dce7e1 solid 1px;
border-bottom:#dce7e1 solid 1px;


}







.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
	font-size:12px;
}
	
.LV_invalid {
    color:#CC0000;
	font-size:12px;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}




















/*FIN ESTILOS popup svcms ******************************************************************************************/
